# Общие правила для игнорирования
node_modules/
.env
*.log
*.tmp
*.bak
*.swp

# Исключения для IDE
.idea/
*.iml
.vscode/
.DS_Store

# Системные файлы
Thumbs.db
*.db

# Docker
docker-compose.override.yml
.docker/

# MySQL Workbench
*.bak
*.log
*.tmp

# Логи
logs/
*.log
29.01 - бэкенд полностью, админ-панель с сортировкой и скрытием, но без фильтров и редактирования.zip
01.02 - бэкенд полностью, админ-панель полностью (без авторизации), интерфейс ремонтника не начат.zip
02.02 - финал.zip
